body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #1B3C74;
    min-height: 90px;
    max-height: 120px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: right;
}

.pfp {
    margin: 20px;
    margin-left: 100px;
    border-radius: 50%;
}

.option {
    text-decoration: none;
    font-size: 1.8em;
    margin-right: 10px;
    padding: 20px 30px;
    border-radius: 20px;
    color: white;
    font-family: sans-serif;
}

.option:hover,
.checked {
    text-decoration: none;
    font-size: 1.8em;
    margin-right: 10px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 20px;
    color: #1B3C74;
    font-family: sans-serif;
    transition: 0.7s ease;
}

.main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.insidemain {
    margin: 30px;
    padding: 20px;
    min-height: 220px;
    height: auto;
    border-radius: 20px;
    background-color: #DFEFFF;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    cursor: pointer;
    background-color: #286E9F;
    font-family: sans-serif;
    color: white;
    padding: 20px 40px;
    font-size: 2em;
    border: none;
    border-radius: 20px;
}

.button:hover {
    cursor: pointer;
    background-color: white;
    font-family: sans-serif;
    color: #286E9F;
    padding: 20px 40px;
    font-size: 2em;
    border: none;
    border-radius: 20px;
}

.footer {
    background-color: #1B3C74;
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    font-family: sans-serif;
}

.icon {
    border-radius: 50%;
    padding: 10px;
    background-color: white;
    font-size: 1.5em;
    color: rgb(62, 176, 247);
}

#imain2 {
    text-align: left;
    font-size: 1.8em;
}

.questions {
    font-weight: bold;
}

input[type="checkbox"],
input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
}

legend {
    color: #286E9F;
    font-weight: bold;
}

fieldset {
    margin-top: 10px;
    border: 2px solid #286E9F;
}
#uploadlogo{
    background: none;
    font-size: 1em;
    color: white;
}
#upload:hover #uploadlogo{
    background: none;
    font-size: 1em;
    color: #286E9F;
}
