body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #1B3C74;
    min-height: 90px;
    max-height: 120px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: right;
}

.pfp {
    margin: 20px;
    margin-left: 100px;
    border-radius: 50%;
}

.option {
    text-decoration: none;
    font-size: 1.8em;
    margin-right: 10px;
    padding: 20px 30px;
    border-radius: 20px;
    color: white;
    font-family: sans-serif;
}

.option:hover,
.checked {
    text-decoration: none;
    font-size: 1.8em;
    margin-right: 10px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 20px;
    color: #1B3C74;
    font-family: sans-serif;
    transition: 0.7s ease;
}

.main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.insidemain {
    margin: 30px;
    padding: 20px;
    min-height: 220px;
    height: auto;
    border-radius: 20px;
    background-color: #DFEFFF;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    cursor: pointer;
    background-color: #286E9F;
    font-family: sans-serif;
    color: white;
    padding: 20px 40px;
    font-size: 2em;
    border: none;
    border-radius: 20px;
}

.button:hover {
    cursor: pointer;
    background-color: white;
    font-family: sans-serif;
    color: #286E9F;
    padding: 20px 40px;
    font-size: 2em;
    border: none;
    border-radius: 20px;
}

.footer {
    background-color: #1B3C74;
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    font-family: sans-serif;
}

.icon {
    border-radius: 50%;
    padding: 10px;
    background-color: white;
    font-size: 1.5em;
    color: rgb(62, 176, 247);
}

#imain2 {
    text-align: left;
    font-size: 1.8em;
}

.questions {
    font-weight: bold;
}

input[type="checkbox"],
input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
}

legend {
    color: #286E9F;
    font-weight: bold;
}

fieldset {
    margin-top: 10px;
    border: 2px solid #286E9F;
}

#uploadlogo {
    background: none;
    font-size: 1em;
    color: white;
}

#upload1:hover #uploadlogo {
    background: none;
    font-size: 1em;
    color: #286E9F;
}

#upload3:hover #uploadlogo {
    background: none;
    font-size: 1em;
    color: #286E9F;
}

#upload2:hover #uploadlogo {
    background: none;
    font-size: 1em;
    color: #286E9F;
}

#imain4 {
    display: grid;
    min-width: 1300px;
    min-height: 500px;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

#back3 {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    grid-column: 12/15;
    grid-row: 10/end;
}
#done{
    grid-column: 15/17;
    font-size: 20px;
    grid-row: 10/end;
    margin:10px;
    padding:10px 20px;
}
#imagebox{
    padding:20px;
    background-color: rgb(53, 53, 53);
    grid-column: 1/10;
    grid-row: 1/end;
}
#resultbox{
    grid-column: 10/end;
    grid-row: 1/6;
}
#similarbox{
    grid-column: 10/end;
    grid-row: 6/10;
}
.public{
    grid-column: 17/19;
    grid-row: 10/end;
}
.private{
    grid-column:20/22;
    grid-row: 10/end;
}
.public,.private{
    font-size: 1.3em;
}
figure{
    margin:10px;
}
.similarimage{
    padding:20px 30px;
    border-radius: 20px;
    margin-right: 20px;
    cursor: pointer;
    background-color: white;
}
#close{
    position:absolute;
    top:10px;
    right:10px;
    cursor: pointer;
}
#dialogimage{
    margin:20px;
}
#resultbox{
    margin-left:40px;
    text-align: left;
}