/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

/* Barre de navigation */
.navbar {
    background-color: #003B71;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.loginbutton{
    padding:10px 30px;
    color:#286E9F;
    border-radius: 10px;
    border: 2px solid white;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 10px;
}

.navbar a:hover {
    background-color: #005B9F;
    color: white;
}

/* Grille des scans */
.scan-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.scan-item {
    text-align: center;
    width: 22%;
}

.scan-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.scan-item p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.pagination button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination button.active {
    background-color: #0056b3;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #002855;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
